.table_container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.table_container p {
    display: inline-flex;
    align-items: center;
    margin: 5px;
}

.table_container select {
    position: absolute;
    right: 0;
}

.table_popular {
    margin-bottom: 30px;
}