<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductDao">

    <resultMap id="ProductMap" type="com.bit.springboard.dto.ProductDto">
        <id property="product_id" column="product_id"/>
        <result property="brand" column="brand"/>
        <result property="product_name" column="product_name"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="rate" column="rate"/>
        <result property="color" column="color"/>
        <result property="is_light" column="is_light"/>
        <result property="base_type" column="base_type"/>
        <result property="size" column="size"/>
        <result property="tag" column="tag"/>
        <result property="view_count" column="view_count"/>
        <result property="sell_start" column="sell_start"/>
        <result property="sell_end" column="sell_end"/>
        <result property="product_status" column="product_status"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <collection property="pics" ofType="com.bit.springboard.dto.PicDto" column="product_id" select="getPicsByProductId"/>
    </resultMap>

    <resultMap id="PicMap" type="com.bit.springboard.dto.PicDto">
        <id property="pic_id" column="pic_id"/>
        <result property="product_id" column="product_id"/>
        <result property="file_name" column="file_name"/>
        <result property="is_main" column="is_main"/>
    </resultMap>

    <select id="getAllProducts" resultMap="ProductMap">
        SELECT p.product_id, p.brand, p.product_name, p.price, p.discount, p.rate, p.color, p.is_light, p.base_type, p.size, p.tag, p.view_count, p.sell_start, p.sell_end, p.product_status, p.created_at, p.updated_at
        FROM store_product p
    </select>

    <select id="getPicsByProductId" resultMap="PicMap">
        SELECT pic_id, product_id, file_name, is_main
        FROM store_pic
        WHERE product_id = #{product_id}
    </select>

    <select id="getProductById" resultMap="ProductMap">
        SELECT p.product_id, p.brand, p.product_name, p.price, p.discount, p.rate, p.color, p.is_light, p.base_type, p.size, p.tag, p.view_count, p.sell_start, p.sell_end, p.product_status, p.created_at, p.updated_at
        FROM store_product p
        WHERE p.product_id = #{product_id}
    </select>

    <insert id="saveProduct" parameterType="com.bit.springboard.dto.ProductDto">
        <selectKey resultType="int" keyProperty="product_id" order="AFTER">SELECT IFNULL(MAX(PRODUCT_ID), 1) FROM STORE_PRODUCT</selectKey>
        INSERT INTO store_product (brand, product_name, price, discount, rate, color, is_light, base_type, size, tag, view_count, sell_start, sell_end, product_status, created_at, updated_at)
        VALUES (#{brand}, #{product_name}, #{price}, #{discount}, #{rate}, #{color}, #{is_light}, #{base_type}, #{size}, #{tag}, #{view_count}, #{sell_start}, #{sell_end}, #{product_status}, #{created_at}, #{updated_at})
    </insert>

    <insert id="savePic" parameterType="com.bit.springboard.dto.PicDto">
        INSERT INTO store_pic (product_id, file_name, is_main)
        VALUES (#{product_id}, #{file_name}, #{is_main})
    </insert>

    <update id="incrementViewCount">
        UPDATE store_product
        SET view_count = view_count + 1
        WHERE product_id = #{product_id}
    </update>
</mapper>