<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.springboard.mapper.ProductMapper">

    <resultMap id="ProductMap" type="ProductDto">
        <id property="product_id" column="product_id"/>
        <result property="pic_id" column="pic_id"/>
        <result property="brand" column="brand"/>
        <result property="product_name" column="product_name"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="rate" column="rate"/>
        <result property="color" column="color"/>
        <result property="is_light" column="is_light"/>
        <result property="base_type" column="base_type"/>
        <result property="size" column="size"/>
        <result property="tag" column="tag"/>
        <result property="view_count" column="view_count"/>
        <result property="sell_start" column="sell_start"/>
        <result property="sell_end" column="sell_end"/>
        <result property="product_status" column="product_status"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="file_name" column="file_name"/>
        <result property="is_main" column="is_main"/>
    </resultMap>

    <insert id="saveProduct" parameterType="ProductDto">
        INSERT INTO store_product
        (pic_id, brand, product_name, price, discount, rate, color, is_light, base_type, size, tag, view_count, sell_start, sell_end, product_status, created_at, updated_at, file_name, is_main)
        VALUES
            (#{pic_id}, #{brand}, #{product_name}, #{price}, #{discount}, #{rate}, #{color}, #{is_light}, #{base_type}, #{size}, #{tag}, #{view_count}, #{sell_start}, #{sell_end}, #{product_status}, #{created_at}, #{updated_at}, #{file_name}, #{is_main})
    </insert>

    <select id="getAllProducts" resultMap="ProductMap">
        SELECT * FROM store_product
    </select>
</mapper>