<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeatherDao">
    <update id="updateInfo" parameterType="weather">
        UPDATE WEATHER SET
              TEMPERATURE = #{temperature}
            , PERCENTAGE = #{percentage}
            , QUANTITY = #{quantity}
    </update>
</mapper>