footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #154615;
}

footer .f_container {
    display: flex;
    align-items: center;
    width: 1200px;
    color: white;
}

footer p {
    margin: 8px 0;
}

@media screen and (max-width: 1400px) {
    footer {
        min-width: 1400px;
        max-width: 1400px;
    }
}

.modal-open {
    overflow: scroll;
}