header {
    display: flex;
    justify-content: center;
}

.container_green {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1200px;
    height: max-content;
    margin-top: 100px !important;
    padding: 16px;

}

.rankingcontent {
    margin-top: 10px;
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 10px;
    justify-content: space-between;
    margin: 50px;

}

.rank1nav {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 50px;
}

.rank2nav {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 50px;
}

.rank1info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.rank2info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.card1 {
    border: #ccc solid 1px;
    border-radius: 5px;;
    width: auto;
}

.card2 {
    border: #ccc solid 1px;
    border-radius: 5px;;
    width: auto;
}

.dailycontent {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 1200px;
}

img {
    cursor: pointer;
}

.tag1, .tag2, .tag3 {
    display: inline-block;
    grid-template-columns: repeat(3, auto);
    border: #ccc solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.tag-group {
    display: flex;
    justify-content: space-between;
}

.bookmarkicon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.filledbookmarkicon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.hearticon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.filledhearticon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.card-text {
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}

.reportbtn {
    padding: 5px;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-writer {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.normalcon {
    display: flex;
    justify-content: center;
    height: 400px;

}

.conimg {
    position: relative;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
    gap: 48px;
    padding: 16px;
}

.thumbnail {
    border-radius: 5px;
    border: #ccc solid 1px;
    width: 356px;
    height: 261px;
}

.modal-body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    height: max-content;
}

.modalthumb {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto) ;
    gap:10px;
    height: fit-content;

}

.modal-dialog {
    margin-top: 150px;
}

.modalthumbnail {
    width: 145px;
    height: min-content;

    border-radius: 5px;
}

.modalmain {
    border-radius: 5px;
    width: 800px;
    height: 533px;
}

.title {
    border: #ccc solid 1px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.titlename {
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 10px;

}

.titlehearticon {
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.comment {
    display: flex;
    border: 1px #ccc solid;
    border-radius: 5px;
    justify-content: space-between;
    background: #F2F2F2
}

.commentbox {
    border: none;
    width: 240px;
    background: #F2F2F2;
}

.entericon {
    width: 50px;
    height: 50px;
}

.enterbtn {
    display: none;
}

.confirmbox {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #23C961;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;

}

.modal-right {
    display: flex;
    flex-direction: column;
}

.modalcontents {
    display:flex;
    text-align: center;
}

.modalmaincon {
    margin: 5px 0 0 5px;
}

.modalmaindate {
    margin: 8px 0 0 5px;
    font-size: 13px;
    color: #858585;
}

.modalcontentbox {
    width:300px;
    height:max-content;
    border-bottom: #ccc solid 1px;
    margin-top: 5px;
}

.modalmaincontent {
    font-size: 12px;
    margin: 0 0 0 49px;
    padding: 0px;
}

.writerpic {
    margin: 5px;
}

.modal-content {
    display: flex;
    width: 10px;
    height: 10px;
    align-items: center;
    color: black;
    background-color: transparent !important;
    border:none !important;
}

.modalbox {
    width: 1158px;
    height: 640px;
    background: white;
    border-radius: 5px;
    margin-top: 150px;
}

.modalreport {
    margin-left: auto;
    margin-top: 5px;
}

@media screen and (max-width: 1160px) {
    .conimg {
        display:grid;
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 800px) {
    .dailycontent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card2 {
        margin-top: 20px;
    }

    .conimg {
        display: flex;
        flex-direction: column;
    }
}

.card-img-top {
    height: 362px;
}

.greenbody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greentalksearchmenu {
    width: 95px;
    height: 36px;
    text-align: center;
    border: #B9B9B9 solid 1px;
}

.greentalksearch {
    width: 691px;
    height: 36px;
    background-color: #F8F8F8;
    border: #BEBEBE solid 1px
}

.greentalksearchbtn {
    width: 82px;
    height: 36px;
    background-color: white;
    border: #B9B9B9 solid 1px;
}

.greentalksearchcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 50px auto;
    gap: 10px;
}