.container {
    display: flex;
    width: 1115px;
    margin-left: 42.5px;
    margin-right: 42.5px;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 1115px;
    
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
}

.profilebox {
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 457px;
    border: #B5B5B5 solid 1px;
}

.profileicon {
    display: flex;
    flex-direction: column;
    width: 218px;
    height: 326px;
    border-bottom: 1px #B5B5B5 solid;
    margin-left: 22px;
    align-items: center;
        
}

.categorybox {
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 195px;
    border: #B5B5B5 solid 1px;
    margin-top: 19px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.active {
    background-color: #0DA446;
}

/* .contentbox {
    width: 831px;
    height: 671px;
    margin-left: 19px;
    border: #B5B5B5 solid 1px;
    background-color: #F5F7F6;
} */

.mycontent, .snscontent, .myshoppingcontent {
    display: flex;
    flex-direction: row;
    width: 262px;
    height: 200px;
    text-align: center;
    align-items: center;
}

/* .profile {
    margin-top: 30px;
} */

.profilename {
    margin-top: 14px;
    margin-bottom: -10px;
}

.mycontenticon, .snscontenticon, .myshoppingicon {
    width: 70px;
}

.mycontenttxt, .snspic, .myshopping {
    color: #27AF5A;
}

.radio-group {
    display: none;
}

/*---------------------*/

.firstRow {
    background: #A5DDBA;
}

.titletext {
    font-size: 1.2vw;
    font-weight: 900;
    margin-left: 50px;
    margin-top: 20px;
}

.defaluttext {
    font-weight: normal;
    margin-top: 20px;
    font-size: 15px;
}

table {
    font-size: 1vw;
    width: 90%;
    table-layout: fixed;
}

td {
    height: 1vw;
    text-align: center;
    border-bottom: 1px solid rgb(226, 225, 225);
    padding: 5px;
}

.contentbox {
    width: 831px;
    height: 671px;
    margin-left: 19px;
    border: #B5B5B5 solid 1px;
    background-color: #F5F7F6;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/*-----------------------------------------------*/

.contentbox-sns {
    width: 831px;
    height: 671px;
    margin-left: 19px;
}

.heartbookmark {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heartpart, .bookmarkpart {
    width: 109px;
    height: auto;
    text-align: center;
    font-size: 16px;
}

.shareicon {
    position: relative;
    left: 110px;
    top: 5px;
    cursor: pointer;
}

/*---------------------------------------*/
button {
    border: none;
    background: none;
}

#purchaseProcess {
    width: 750px;
    height: 88px; 
    background-color: #F5F7F6; 
    border: solid #B5B5B5 1px;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    /* 새로중앙정렬 */
    align-items: center;
    /* 가로중앙정렬  */
    justify-content: center;
}
.container ul {
    /* 바로 부모태그에서 적용가능 */
    gap: 20px;
    padding-left: 0;
}

.purbtn1 {
    background-color: white;
    color: #23C961;
}

.purbtn2 {
    background-color: #D5F5E1;
    color: #23C961;
}

.purbtn1:hover{
    background-color: #5DA446;
    color: white;
}

.purbtn2:hover{
    background-color: #5DA446;
    color: white;
}

.contentbox--shopping {
    margin-left: 19px;
}

.shoppingmenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}



/*modal 설정*/
.modal-content {
    width: 40vw !important;
    height: 95vh !important;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed !important;
    top: 50% !important; /* 화면의 세로 중앙으로 이동 */
    left: 50% !important; /* 화면의 가로 중앙으로 이동 */
    transform: translate(-50%, -50%) !important; /* 중앙 정렬 보정 */
    border-radius: 15px !important;
    z-index: 2;
}

#modal-close-btn {
    background: #0DA446;
    width: 100%;
}

#modal-close-btn-detail {
    position: absolute; /* 부모 요소에 대해 절대 위치 지정 */
    top: 0; /* 부모의 상단에 맞추기 */
    right: 0; /* 부모의 오른쪽 끝에 맞추기 */
    margin-top: 0.8rem;
    margin-right: 1.3rem;
}

.profilebox-body input{
    white-space: nowrap; /* 줄 바꿈 비활성화 */
    border: 1px solid #CCCCCC;
    width: 20vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    padding-left: 0.5vw;
    font-size: 1.2rem;
}

.profile-modal-p {
    margin: 0.1vh; !important;
}
