.container {
    display: flex;
    width: 1115px;
    margin-left: 42.5px;
    margin-right: 42.5px;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 1115px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
}

.profilebox {
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 457px;
    border: #B5B5B5 solid 1px;
}

.profileicon {
    display: flex;
    flex-direction: column;
    width: 218px;
    height: 326px;
    border-bottom: 1px #B5B5B5 solid;
    margin-left: 22px;
    align-items: center;
}

.categorybox {
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 195px;
    border: #B5B5B5 solid 1px;
    margin-top: 19px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.active {
    background-color: #0DA446;
}

.mycontent, .snscontent, .myshoppingcontent {
    display: flex;
    flex-direction: row;
    width: 262px;
    height: 200px;
    text-align: center;
    align-items: center;
}

.profilename {
    margin-top: 14px;
    margin-bottom: -10px;
}

.mycontenticon, .snscontenticon, .myshoppingicon {
    width: 70px;
}

.mycontenttxt, .snspic, .myshopping {
    color: #27AF5A;
}

.radio-group {
    display: none;
}

/*---------------------*/

.firstRow {
    background: #A5DDBA;
}

.table-cover-div {
    font-size: 3vh;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.board-name-div {
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
}

table {
    font-size: 1.2vh;
    width: 90%;
    table-layout: fixed;
}

td {
    font-size: 2vh;
    height: 1vw;
    text-align: center;
    border-bottom: solid 1px rgba(204, 204, 204, 0.3) !important;
    padding: 5px;
}

.contentbox-board {
    width: 831px;
    height: 671px;
    margin-left: 19px;
    border: #B5B5B5 solid 1px;
    background-color: #F5F7F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cover-table {
    width: 95%;
    height: auto;
}

.contentbox-sns {
    width: 831px;
    height: 671px;
    margin-left: 19px;
}

#grid-div {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
}

.grid-item {
    width: 95%;
    height: 95%;
    /*padding: 1vh;*/
}

.heartbookmark {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heartpart, .bookmarkpart {
    width: 109px;
    height: auto;
    text-align: center;
    font-size: 16px;
}

.shareicon {
    position: relative;
    left: 110px;
    top: 5px;
    cursor: pointer;
}

/*greentalk 모달 관련*/
.modal-dialog {
    margin-top: 150px;
}

.modal-greentalk {
    display: flex;
    width: 10px;
    height: 10px;
    align-items: center;
    color: black;
    background-color: transparent !important;
    border:none !important;
}

.modalbox {
    width: 1158px;
    height: 640px;
    background: white;
    border-radius: 5px;
    margin-top: 600px;
}

.modal-body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    height: max-content;
}

.modalmain {
    border-radius: 5px;
    width: 800px;
    height: 533px;
}

.modal-right {
    display: flex;
    flex-direction: column;
}

.modalthumb {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto) ;
    gap:10px;
    height: fit-content;
}

.modalthumbnail {
    width: 145px;
    height: min-content;
    border-radius: 5px;
}

.modalcontentbox {
    width:300px;
    height:max-content;
    border-bottom: #ccc solid 1px;
    margin-top: 5px;
}

.modalcontents {
    display:flex;
    text-align: center;
}

.writerpic {
    margin: 5px;
}

.modalmaincon {
    margin: 5px 0 0 5px;
}

.modalmaindate {
    margin: 8px 0 0 5px;
    font-size: 13px;
    color: #858585;
}

.modalreport {
    margin-left: auto;
    margin-top: 5px;
}

.modalmaincontent {
    font-size: 12px;
    margin: 0 0 0 49px;
    padding: 0px;
}

.title {
    border: #ccc solid 1px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.titlename {
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.comment {
    display: flex;
    border: 1px #ccc solid;
    border-radius: 5px;
    justify-content: space-between;
    background: #F2F2F2
}

.commentbox {
    border: none;
    width: 240px;
    background: #F2F2F2;
}

.confirmbox {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #23C961;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.bookmarkicon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.filledbookmarkicon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.hearticon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.filledhearticon {
    justify-content: right;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/*---------------------------------------*/
button {
    border: none;
    background: none;
}

#purchaseProcess {
    width: 750px;
    height: 88px; 
    background-color: #F5F7F6; 
    border: solid #B5B5B5 1px;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    /* 새로중앙정렬 */
    align-items: center;
    /* 가로중앙정렬  */
    justify-content: center;
}
.container ul {
    /* 바로 부모태그에서 적용가능 */
    gap: 20px;
    padding-left: 0;
}

.purbtn1 {
    background-color: white;
    color: #23C961;
}

.purbtn2 {
    background-color: #D5F5E1;
    color: #23C961;
}

.purbtn1:hover{
    background-color: #5DA446;
    color: white;
}

.purbtn2:hover{
    background-color: #5DA446;
    color: white;
}

.contentbox--shopping {
    margin-left: 19px;
}

.shoppingmenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/*정보수정modal 설정*/
#modal-modify {
    width: 40vw !important;
    height: 95vh !important;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed !important;
    top: 50% !important; /* 화면의 세로 중앙으로 이동 */
    left: 50% !important; /* 화면의 가로 중앙으로 이동 */
    transform: translate(-50%, -50%) !important; /* 중앙 정렬 보정 */
    border-radius: 15px !important;
    z-index: 2;
}

#modal-close-btn {
    background: #0DA446;
}

#modal-close-btn-detail {
    position: absolute; /* 부모 요소에 대해 절대 위치 지정 */
    top: 0; /* 부모의 상단에 맞추기 */
    right: 0; /* 부모의 오른쪽 끝에 맞추기 */
    margin-top: 0.8rem;
    margin-right: 1.3rem;
}

.profilebox-body input{
    white-space: nowrap; /* 줄 바꿈 비활성화 */
    border: 1px solid #CCCCCC;
    width: 20vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    padding-left: 0.5vw;
    font-size: 1rem;
    margin-top: 1vh;
}

.profile-modal-p {
    font-size: 0.8rem;
    margin: 0.1vh; !important;
}

.profile-message {
    padding-top: 0.5vh !important;
    visibility: hidden;
    margin: 0;
    font-size: 0.8rem;
}

.profile-div {
    margin-top: 1vh;
}

#move-green-div{
    display: flex;
    justify-content: center;
}

#move-green-btn {
    margin-top: 1vh;
    width: 800px;
    height: 70px;
    background-color: #d1eada;
    border: #B8E2C8 solid 2px;
}
