@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 8px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    box-sizing: content-box;
    z-index: 9999;
}

nav .nav_left, nav .nav_right {
    display: flex;
    align-items: center;
}

nav div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul {
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
}
nav li {
    display: inline;
    list-style: none;
    font-size: 1.3rem;
    margin: 0 20px;
}

.nav_menu a:hover{
    color: #23C961;
}

nav .nav_search {
    width: 438px;
    height: 44px;
    background-color: #d9d9d9;
    background-clip: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

nav span {
    display: flex;
    margin: 4px 15px 3px 10px;
    align-items: center;
}

nav #search {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #eee;
    font-size: 1.2rem;
    vertical-align: middle;
}

#logout {
    background-color: #CEECD9;
    border-radius: 7px;
    padding: 3px 13px;
}

#logout a {
    font-size: 0.8rem;
    font-weight: 500;
    color: #1A5E34;
    display: block;
    text-align: center;
}

header{
    display: flex;
    height: 500px;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    nav {

        min-width: 1400px;
        max-width: 1400px;
    }
}